.padding-container {
  padding: 0px 75px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.navbar-toolbar {
  padding: 0px 0px !important;
}

.language select,
.country select {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  margin-right: 10px;
}

.nav-right {
  display: flex;
  justify-content: space-between;
}
.bar {
  padding: 0px 10px;
}

@media only screen and (max-width: 600px) {
  .padding-container {
    padding: 0px 25px;
  }
}
